In [10]:
import pandas as pd
import numpy as np
from sklearn.linear_model import Ridge

In [2]:
data = pd.read_csv("mydataT02a.csv")
data.head()

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,...,x192,x193,x194,x195,x196,x197,x198,x199,x200,y
0,-0.35,-0.53,0.70,1.37,0.93,0.48,1.19,0.30,1.42,-1.94,...,0.64,1.41,0.99,0.10,-0.13,-0.39,1.16,-1.74,0.59,-1.23
1,-1.74,-0.18,-1.36,-0.06,-0.18,0.25,-0.58,0.82,-0.54,-0.05,...,-0.63,-0.35,-0.54,-0.34,0.69,2.74,-0.40,-0.84,-1.30,-3.42
2,-0.46,0.07,-0.66,0.30,-0.37,-1.01,0.02,0.24,-0.55,-1.08,...,0.55,-0.54,-1.25,-0.96,0.77,0.09,1.85,0.80,-0.59,-1.73
3,2.29,-0.59,1.10,0.41,0.27,1.10,0.29,0.14,-0.70,-1.43,...,-0.92,-1.38,-1.14,-0.13,-0.88,-1.33,0.16,2.20,-0.41,3.72
4,0.27,-0.29,-1.10,-0.44,0.33,0.61,-1.29,0.38,-0.25,0.51,...,-0.12,-1.54,-1.02,0.47,0.80,0.00,-0.12,-0.99,-0.68,1.82

In [3]:
X_train = data.iloc[:, 0:50]
X_train.head()

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,...,x41,x42,x43,x44,x45,x46,x47,x48,x49,x50
0,-0.35,-0.53,0.70,1.37,0.93,0.48,1.19,0.30,1.42,-1.94,...,-0.65,-0.60,-0.93,0.03,-0.19,1.32,-2.86,0.38,0.52,0.74
1,-1.74,-0.18,-1.36,-0.06,-0.18,0.25,-0.58,0.82,-0.54,-0.05,...,0.72,1.66,-0.11,-1.62,1.97,-0.53,-1.22,-0.58,-1.64,-0.12
2,-0.46,0.07,-0.66,0.30,-0.37,-1.01,0.02,0.24,-0.55,-1.08,...,0.74,1.53,1.00,-0.07,0.12,0.33,-0.04,0.59,-0.72,1.18
3,2.29,-0.59,1.10,0.41,0.27,1.10,0.29,0.14,-0.70,-1.43,...,-1.16,-0.88,-1.51,1.16,-0.88,0.10,-0.59,0.56,0.45,1.08
4,0.27,-0.29,-1.10,-0.44,0.33,0.61,-1.29,0.38,-0.25,0.51,...,-0.20,-1.06,-0.47,-0.81,-1.68,-0.80,-1.33,-2.17,0.35,0.34

In [4]:
y_train = data.iloc[:, -1]
y_train.head()

0   -1.23
1   -3.42
2   -1.73
3    3.72
4    1.82
Name: y, dtype: float64

In [13]:
clf = Ridge(alpha=0.1)
clf.fit(X_train, y_train)

Ridge(alpha=0.1, copy_X=True, fit_intercept=False, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [14]:
clf.coef_

50